@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}
p {
    color: blue;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    padding: 10px;
    text-transform: capitalize;
    line-height: 30px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.459);
}
a {
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: darkmagenta;
}