@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo', sans-serif;
    color: #0079c7;
}

header {
    height: 70px;
}

#header {
    display: flex;
    justify-content: space-around;
    
}

.title {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.menu {
    display: flex;
    align-items: center;
    margin-right: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

nav ul,
nav li {
    text-decoration: none;
    list-style: none;
}

nav ul {
    display: flex;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin-right: 4px;
    font-weight: bold;
    transition: all 0.5s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
}

nav .active a {
    background-color: #0079c7;
    color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

nav a:hover {
    color: #FFFFFF;
    background-color: #0079c7;
    border-radius: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


#geral {
    display: flex;
    justify-content: center;
    background-image: url('../img/backgound-image.jpg');
    background-position: center;
    background-size: cover;
    height: 800px;
}

#geral a, ul, li {
    display: flex;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    list-style: none;
    color: #FFFFFF;
}

#geral a {
    padding: 20px;
    width: 200px;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
}
#geral .social-media2 a {
    width: 150px;
}
#geral a:hover {
    background-color: #2b4c99;
    border-radius: 5px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

.text {
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 30px;
}
.text h1 {
    font-size: 5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.text h3 {
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    padding: 10px;
    border-bottom: 2px solid #0079c7;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px; 
    
}

.social-media1 {
    
    background-color: #0079c7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    
}

.social-media2 {
    background-color: #0079c7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    
}

.social-media3 {
    background-color: #0079c7;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin-right: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;   
}

footer a {
    text-decoration: none;
    transition: all 0.5s;
}

footer a:hover {
    color: #2b4c99;
    font-size: 1em;
}

footer p {
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-style: italic;
}

.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line {
    height: 3px;
    background-color: #39AAE1;
}

@media (max-width: 768px) {
    nav ul {
        
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }
    header {
        height: auto;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mm_line {
        margin-bottom: 10px;
    }
    #geral {
        width: auto;
    }
    #geral a {
        width: 150px;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    #geral .social-media2 a {
        width: 100px;

    }

    .text {  
        margin-right: auto;
        margin-left: auto;
    }

    .text h1 {
        font-size: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .text h3 {
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .social {
        margin-right: auto;
        margin-left: auto;
    }
    
}

@media (max-width: 600px) {
    nav ul {
        
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }
    header {
        height: auto;
    }

    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .mm_line {
        margin-bottom: 10px;
    }
    #geral {
        width: auto;
    }
    #geral a {
        width: 100px;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    #geral .social-media2 a {
        width: 100px;

    }

    .text {  
        margin-right: auto;
        margin-left: auto;
    }

    .text h1 {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .text h3 {
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .social {
        margin-right: auto;
        margin-left: 30px;
    }
    
}



