@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color: darkcyan;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px; /*150px para transformar em um circulo*/
}