@charset "utf-8";

        * {
            box-sizing: border-box;
            margin: 0;
        }

        .container {
            width: 150px;
            height: 150px;
            margin: auto;
            margin-top: 100px;
            background-color: green;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.685);
            transition: all 0.5s linear;
        }
        .container:hover {
            width: 300px;
            height: 300px;
            background-color: aqua;
        }

        a {
            text-decoration: none;
            transition: all 0.2s linear;
        }
        a:hover {
            color: brown;
            text-decoration: underline;
            font-size: 20px;
            font-weight: bold;
        }