body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 500px;
    background-color: aquamarine;
    display: flex;
    justify-content: center; /*Justificar no centro horizontal*/
    /*justify-content: flex-start;*/
    /*justify-content: flex-end;*/
    /*justify-content: space-around;*/
    align-items: center; /*Justificar no centro vertical*/
    align-items: flex-end;
    flex-flow: row;
    margin: 10px;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    margin: 10px;
    padding: 10px;
    font-size: 18px;
}