@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    font-family: 'Exo', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    min-height: 120px;
}
header img {
    width: 100px;
    margin-top: 10px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    align-items: center;
}

nav ul,
nav li {
    list-style: none;
    text-decoration: none;

}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #CC2229;
    transition: all 0.5s;
}
nav a:hover {
    background-color: #CC2229;
    color: #FFFFFF;
    border-radius: 2px;
}

section .assinatura img{
    align-items: center;
    width: 500px;
    padding-top: 60px;
}

main {
    
}
#banner {
    display: flex;
    justify-content: center;
    background-image: url('../img/background.png');
    background-position: top;
    background-size: cover;
    height: 670px;
}

#geral {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    width: 100%;
    background-color: #FFFFFF;
}
#geral h2 {
    text-align: center;
    margin-bottom: 0;
}
.resumo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 90px 40px 90px;
}
.resumo img {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    padding-right: 20px;
}
.resumo p {
    text-align: justify;
    font-weight: normal;
    width: 800px;
    line-height: 1.8;
    padding: 20px;
    font-size: 18px;
    color: #000000;
}

#titulos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    background-color: #f2f2f2;
    width: 100%;
}
#titulos h3, p {
    color: #FFFFFF;
    
}
#titulos h3 {
    text-align: center;
    margin-bottom: 0;
}

.conquistas {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px auto;
    padding-bottom: 40px;
    max-width: 1345px;
}
.f1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 20px;
    background-image: linear-gradient(to top, #222328, #6B7181);
    border-radius: 12px;
    box-shadow: 5px 10px 14px rgb(81 82 82 / 40%);
    margin: 35px;
}
.f1 img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid rgb(81 82 82 / 40%);
}
.f1-texto  p:first-of-type {
    margin-top: 30px;
}
.f1-texto p {
    margin: 10px 0;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    background-color: #FFFFFF;
}
#info h2 {
    text-align: center;
    margin-bottom: 0;
}
.content-logo {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 0;
}
.logo {
    display: flex;
    align-items: center;
    margin: 0 15px;
    align-items: center;
}
.logo img {
    width: 50px;
    padding-left: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 49px;
    background-image: linear-gradient(to left, #222328, #6B7181);
    color: #ffffff;
    font-size: 14px;
}
footer a {
    text-decoration: none;
    color: #FFFFFF;
}
footer a:hover {
    text-decoration: underline;
}

.menu_mobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line {
    height: 3px;
    background-color: #CC2229;
}
@media screen and (max-width: 790px) {
    .resumo {
        flex-direction: column;
        padding: 50px 40px;
    }
    .resumo p {
        width: 90%;
    }

    #titulos {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    nav ul {
        
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
    }
    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menu_mobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}