@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    height: 100%;
    min-width: 400px;
    background-color: #202124;
}


#header {
    display: flex;
    justify-content: flex-end;
    padding: 5px;    
}

.navbar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
}

.text {
    display: flex;
    align-items: center;
}
.text a {
    margin-right: 15px;  
}
.text a:hover {
    text-decoration: underline;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 80%;
    border-radius: 50%;
}
.logo a {
    margin-left: 15px;
}

nav ul {
    display: flex;
}
nav ul, nav li {
    list-style: none;
    text-decoration: none;
}

nav a {
    display: block;
    text-decoration: none;
}

#corpo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 100%;
}

#corpo img {
    height: 92px;
    display: flex;
    align-items: center;
}

.google {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.pesquisa {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.pesquisa input {
    width: 500px;
    border-radius: 30px;
    border: 0px;
    border: 1px solid whitesmoke;
    background-color: transparent;
    padding: 12px;
    font-size: 1.2em;
    transition: all 0.3s;
}

.pesquisa input:focus{
    background: #303135;
}


.pesquisa input:hover {
    background-color: #313235;
    border: none;
}

.botao {
    display: flex;
    align-items: center;
}

.botao ul, li {
    text-decoration: none;
    list-style: none;
}
.botao ul {
    display: flex;
    align-items: center;
}
.botao li {
    background-color: #313235;
    margin-top: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
}
.botao li:hover {
    border: 1px solid white;
}
.botao a {
    display: block;
    text-decoration: none;

}

#rodape {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #171717;
    max-height: 100%;
}

.local {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #9AA0A6;
}
.local p {
    color: #9AA0A6;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info ul, li {
    text-decoration: none;
    list-style: none;
}
.info ul {
    display: flex;
    align-items: center;
    margin: 10px;
}
.info li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.info a {
    display: block;
    text-decoration: none;
    color: #9AA0A6;
}
.info a:hover {
    text-decoration: underline;
}



