@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    background-color: aquamarine;
}
.logo {
    display: flex;
    align-items: center;
    background-color: aqua;
}
.menu {
    background-color: rgb(234, 124, 238);
    display: flex;
    align-items: center;
}
nav ul, nav li {
    list-style: none;
    text-decoration: none;
    
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
    font-family: Arial, Helvetica, sans-serif;
}
nav .active a {
    background-color: #39AAE1;
    color: white;
}
nav a:hover {
    background-color: #39AAE1;
    color: white;
}

#banner {
    background-image: url('../images/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
}