@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    background-color: aquamarine;
}
.logo {
    display: flex;
    align-items: center;
    background-color: aqua;
}
.menu {

}