@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 body {
    margin: 50px;
    font-size: 17px;
 }

 h1 {
    font-family: Arial, Helvetica, sans-serif;
 }
 table {
    width: 600px;
 }
 table thead {
    background-color: rgba(169, 169, 169, 0.200);
 }
 td, th {
    padding: 10px;
    
    text-align: center;
 }
 tbody tr:nth-child(even) {
    background-color: rgba(169, 169, 169, 0.200);
 }
 tbody tr:hover {
    background-color: darkgray;
 }