@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --cor-1: #70757a;
    --cor-2: #202124;
    --cor-3: #1A0DAB;
    --cor-4: #1AA2F1;
    --font: font-family: Arial, Helvetica, sans-serif;
}

body {
   font-family: var(--font);
}
header {
    border-bottom: 1px solid var(--cor-1);
}
header .img-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#top {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 30px;   
   
}
.top-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.top-1 .div-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.top-1 .div-1 .logo {
    margin-right: 30px;
}
.top-1 .div-2 {
    display: flex;
    align-items: center;
}
.div-2 .link-menu {
    margin-right: 20px;
}

.top-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 220px;
}
.top-2 ul {
    display: flex;
}

.top-2 ul, li {
    text-decoration: none;
    list-style: none;
}
.top-2 a {
    display: block;
    text-decoration: none;
    color: var(--cor-1);
    margin: 12px;
}
.search input {
    width: 600px;
    padding: 15px;
    border: 1px solid var(--cor-1);
    border-radius: 30px;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.171);
}

.top-2 a:hover {
    color: var(--cor-4);  
}

.container {
    text-align: justify;
    max-width: 600px;
    margin-left: 200px;
    margin-top: 40px;
    padding: 10px;
    color: var(--cor-1);  
}

.container a {
    text-decoration: none;
}
.container .green {
    color: rgb(3, 194, 3);
}
.green:hover {
    text-decoration: underline;
}
.paragrafo {
    color: var(--cor-1);
    margin-top: 10px;
    margin-left: 200px;
}
